<ng-template #loading>
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="isPostsLoaded$ | async; else loading">
  <div class="posts" *ngFor="let post of posts$ | async">
    <mat-card>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-content>
        <p>
          {{ post.body }}
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
